

<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name , placeholder: 'Pogo, Cookies, Felix ?'%>
    <%= f.input :specie, placeholder: 'Sheep, Monkey, Dragon ?' %>
    <%= f.input :description, placeholder: 'Describe him with love', class: "form-actions"%>
    <%= f.input :address, placeholder: "Make sure it's a valid address" %>
    <%= f.input :photo, as: :file, :multiple => true%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary homebtn2" %>
  </div>
<% end %>
