
<div class="container">
  <div class="row">
        <% @animals.each do |animal| %>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
              <div class="card-description">
                <% if animal.photo.attached? %>
                  <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
                  <% end %>
                <%= link_to animal.name, animal_path(animal) %> <%= animal.specie %> 
                <%= animal.description %>
              </div>
              <%= link_to "", animal_path(animal), class: 'card-link' %>
            </div>
          </div>
        <% end %>
  </div>
</div>