<div class="container">
  <!-- IMAGES -->
  <div class="title-results">
    <h1>"<%= "#{@animal.name.upcase}"%>"</h1> <br>
  </div>
  <% if @animal.photos.attached? %>
    <div class="pictures-container">
      <% @animal.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  <% end %>
  <!-- DETAILS -->
  <div class="info-form">
    <div class="info-show">
      <div class="details-show">
        <ul style="list-style-type:none; ">
          <li><i class="fas fa-paw"></i> Description: <%= @animal.description %></li> <br>
          <li><i class="far fa-address-card"></i> Contact: <%= @animal.user.email %></li><br>
          <li><i class="fas fa-globe-asia"></i> Location: <%= @animal.address %></li><br>
        </ul>
      </div>
      <div class="reviews">
        <h3><strong>Reviews :</strong></h3>
          <% @animal.bookings.each do |booking| %>
            <p><strong><%= booking.user.email%></strong>: <%= booking.review %> - <br> <span><%= "⭐" * booking.rating.to_i + "☆"* (5-booking.rating.to_i)%></span></p>
          <% end %>
      </div>
    </div>
    <div class="form-show">
      <h1> BOOK ME !</h1>
      <%= simple_form_for [@animal, @booking ] do |f| %>
        <%= f.input :start_date, input_html: {class: "datepicker"}%>
        <%= f.input :end_date , input_html: {class: "datepicker"}%>
        <br>
        <h1><small>TOTAL:</small>
        <span id='totalprice'></span>€
        </h1>
        <br>
        <%= f.submit class: "btn btn-primary homebtn2" %>
      <% end %>
    </div>
  </div>
</div>

