<div class="container" style="padding: 40px">
  <div class="row">
    <div class="col-sm-6 ">
      <h1><%= "#{@animal.name}"%></h1> <br>
      <% if @animal.photo.attached? %>
        <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <h2>Some informations:</h2>
      <p><%= "Specie : #{@animal.specie}"%></p>
      <p><%= "Age : #{@animal.age}"%></p>
      <p><%= "Description : #{@animal.description}"%></p>
      <p><%= "Price : #{@animal.price} €"%></p>
      <h2>Reception conditions:</h2>
      <p>Our pets don't ask for much, a little ground will suit them perfectly.<br>
      <p>Please no apartment !!! </p>
              <h2>Daily needs:</h2>
              <p>Just a little love and a lot of fresh water</p>
              <br>
              <h2>Terms of cancelation:</h2>
              <p>You can cancel up to 1:00 PM the day before</p>
            </div>
            <div class="col-sm-6" style="padding: 115px">
              <div style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;">
                <h1> BOOK ME !</h1>
                <!-- <div>
                    <%= simple_form_for :search, method: "get" do |f| %>
                    <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
                    <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>

                    <div class="dropdown">
                        <button class="btn btn-light btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Surface
                        </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">small field</a>
                            <a class="dropdown-item" href="#">medium size field</a>
                            <a class="dropdown-item" href="#">big size field</a>
                          </div>
                    </div>
                    <br>
                    <p>Total without taxes:</p>
                    <p>administration fees:</p>
                    -----------------------------------
                    <p>TOTAL:</p>
                    <%= f.button :submit, "Book", class: "btn btn-primary btn-lg btn-block" %>
                  <% end %>
                </div> -->
                <%= simple_form_for [@animal, @booking ] do |f| %>
                  <%= f.input :start_date, input_html: {class: "datepicker"}%>
                  <%= f.input :end_date , input_html: {class: "datepicker"}%>
                  <br>
                  <script type="text/javascript">
                    function total()
                    {
                      let start = Date.parse(document.getElementById("booking_start_date").value)
                      console.log(start)
                      let end = Date.parse(document.getElementById("booking_end_date").value)
                      console.log(end)
                      let duree = end - start
                      console.log(durée)
                      let total = durée * @animal.price
                      console.log(total)
                    }

                  </script>>


                  <h3><%= "Total: #{@booking.total_price} €" %></h3>
                  <br>
                  <%= f.submit %>
                 <% end %>
              </div>
            </div>
        </div>
      </div>
